<app-header></app-header>
<div class="main_box" id="color">
  <div class="sidebar_menu">
   <div class="menu">
 <ul>
   <li><a routerLink="/home"><i class="fas fa-chart-pie"></i>
    Início</a></li>
   <li><a routerLink="/tecnicos"><i class="fas fa-chalkboard-teacher"></i>
    Técnicos</a></li>
   <li><a routerLink="/chamados"><i class="fas fa-hands-helping"></i>
    Chamados</a></li>
   <li><a routerLink="/clientes"><i class="fas fa-users"></i>
    Clientes</a></li>
    <li><a routerLink="/graficos"><i class="fas fa-chart-line"></i>
    Gráficos</a></li>
   <li id="settings"><a routerLink="/settings"><i class="fas fa-cog"></i>
     Settings</a></li>
   <li><a routerLink="/subscription"><i class="fas fa-medal"></i>
     Subscription</a></li>

 <li><a routerLink="/login"><i class="fas fa-sign-out-alt"></i>
  Exit</a></li>
</ul>
</div>
</div>
</div>
