.navbar{
  width: auto;
  height: 56px;
  background:#373741 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #A8A8A829;
  opacity: 1;
  margin-left: 298px;
}
 .nav-item{
  margin-left: 60px;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 16px;
}
.nav-item a{
  color: #000000;
  font-weight: bold;
  font-weight: 500;
  border-bottom:blueviolet ;
}
.nav-item a:hover{
  color: #000000;
  font-weight: bold;

}
.logo{
  margin: auto;
  color: aliceblue;
  font-size: 25px;
}
.logo i{
  margin: 10px;
  font-size: 22px;
  color: blue;
}

